.contribute-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center !important;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h2{
  font-size: clamp(20px, 10vw, 60px);
  padding-top: 0.5rem;
  color:#e5aa70;
  cursor:pointer;
  font-family: 'Varela Round', sans-serif;
}

::-webkit-input-placeholder {
  font-size: 50%;
  text-align: center;
}

.submit {
  border: #e5aa70 0.15rem solid;
  padding: 0.5rem;
  font-size: 0.75rem;
  transition: 0.1s ease-in-out;
  border-radius: 0.5rem;
  font-family: poppins;
  font-weight: bold;
}

.submit:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
  background: #e5aa70 ;
  color: white;
}

.search-help-text {
  margin-top: 1rem;
}

label {
  width: 100%;
  padding-top: 1rem;
  font-size: 1rem;
  font-family: 'Allerta Stencil';
}

.search-inside{
  padding-top: 0.25rem;
}