.card {
  background: linear-gradient(
    50deg,
    #e5aa704d,
    rgba(229, 170, 112, 0.702),
    rgba(229, 170, 112, 0.9),
    white
  );
  font-family: poppins;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 4px, #e6be8a 0px 7px 20px -3px,
    #e6be8a 0px -3px 0px inset;
  background-size: 250% 250%;
  animation: animateBg 15s ease infinite;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button {
  margin-left: 0.5rem;
  font-size: 2rem;
  background: none;
  border-width: 0;
  cursor: pointer;
}

.fav {
  animation: dub 0.5s ease-in-out;
}

.fav::after {
  content: '❤️';
}

.notfav::after {
  content: '🖤';
}

.small-elements {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  cursor: pointer;
}

h1 {
  cursor: pointer;
  font-size: 1.5rem;
}

@keyframes dub {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(2);
  }
}

@keyframes animateBg {
  0% {
    background-position: 0% 97%;
  }
  50% {
    background-position: 100% 4%;
  }
  100% {
    background-position: 0% 97%;
  }
}