.oops-fav {
  padding-top: 10vh;
}

.oops {
  font-family: monospace;
  font-size: clamp(20px, 1.25vw, 2rem);
  text-align: center;
  padding: 1rem 1rem 0;
  align-self: flex-end;
}

.loader {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.loader-inner {
  content: url('./fav.svg');
  padding-top: 2rem;
  width: 70vh;
}

.cards {
  display: grid;
  margin-bottom: 75px;
}

@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .loader-inner{
    width: 30rem;
  }
}

@media only screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .loader-inner{
    width: 30rem;
  }
}

@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .loader-inner{
    width: 30rem;
  }

  @media only screen and (max-width: 1080px) {
    
    .loader-inner{
      width: 100%;
    }
  }
}