.navbar {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow: hidden;
  border-radius: 0.5rem;
  bottom: 0;
  margin-bottom: 0.5rem;
  align-self: center;
  display: flex;
  justify-self: center;
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  background: #e5aa70;
  border: #e5aa70 0.15rem solid;
  z-index: 1000;
}

.navbar a {
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.active{
  border-bottom: solid 0.1rem;
  color:white !important;
}