@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poppins:wght@200&family=Varela+Round&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

@media (min-width: 700px) {
  .cards { display: grid; grid-template-columns: repeat(2, 1fr); }
  .card{
    margin-bottom: -0.75rem;
  }
}

@media (min-width: 900px) {
  .cards { display: grid; grid-template-columns: repeat(3, 1fr); }
  .card{
    margin-bottom: -0.75rem;
  }
}